<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/assets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact  html</title>
</head>
<body>
    <%- include ('nav.ejs') %>
    <h1>This is the contact page </h1>
    <p>thanks for getting in touch !  </p>
    <p>You contacted <%= data.who %> in the <%= data.department %> department. </p>
    
</body>
</html>